body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: lightblue; 
    
}

h1, h2 {color: blue;}

form {display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px solid red;
    width: 300px;}

table { width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}
#editForm{display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px solid red;
    width: 1030px ;


}

th, td {
    padding: 10px;
    border: 1px solid #3006da;
}

button[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
